.top-nav{
    background-color: #2E3E4F;
}
.img-hold{
    width: 200px;
    float: left;
    justify-content: center;
    margin-left: 50px;
    margin-top: 15px;
}
#dropdown1 li a{
    color:#8c8c8c;
}
#dropdown1 li a:hover{
    color: #25BB9B;
}
#mobile-demo{
    background-color: #2E3E4F;   
}
#mobile-demo li a{
    color: #25BB9B;
}
#mobile-demo li a:hover{
    color: white;
}
#mobile-demo li a:hover > i{
    color: white;
}