/* Lending Page */
.user-name-lend {
    color: #323232;
    transition: all 0.3s ease-out;
}

.user-name-lend:hover {
    background-color: #EAEAEA;
    color: #323232;
}

.user-name-lend:focus {
    outline: none !important;
}

#dropdown-user-module li a {
    color: #2C3E50;
    background-color: white;
    transition: all .2s ease-out;
}

#dropdown-user-module li a:hover {
    color: #1CC7A4;
}

.user-name:focus {
    outline: none !important;
}

#settings-link a {
    color: #323232;
    transition: all .2s ease-out;
}

/* #settings-link {
    border-left: 1px solid rgba(46, 62, 79, 0.48);
} */

#settings-link a:hover {
    background-color: initial;
    transform: scale(1.3);
}

#settings-link a:hover>i {
    color: #72D0A4;
}

#mobile-menu-icon i {
    color: #323232;
}

#mobile-menu-icon:hover>i {
    color: #25BB9B;
}

.side-nav-user-module {
    min-height: 100vh;
}

.side-nav-user-module li a {
    font-size: 24px;
    color: #D1D2D3;
    transition: color .2s ease-out;
}

.side-nav-user-module li a:hover {
    color: #1CC7A4;
}

.side-nav-user-module li {
    padding-bottom: 20px;
}

#lend-header-container {
    padding-top: 25px;
}

#lend-header-container .headers span {
    font-size: 22px;
    color: #505056;
}

.action-icons i {
    color: #505056;
    ;
    transition: all 0.2s ease-in;
}

.action-icons:hover>i {
    color: #1CC7A4;
}

.action-icons:hover {
    background-color: white;
}

.action-icons {
    background-color: white;
    transition: all .2s ease-in;
}

.material-icons {
    vertical-align: middle !important;
    padding-bottom: 3px;
}

.rounded-table tbody tr {
    background-color: white;
}

#modal-profile {
    width: 25% !important;
    height: 57% !important;
    overflow: hidden;
    background-color: #2E3E4F;

}

.borrower-id-modal {
    color: #72D0A4;
    font-size: 18px;
    font-weight: bold;
}

.borrower-name-modal {
    color: white;
    font-size: 22px;
}

.borrower-rating-modal {
    font-size: 16px;
    color: #25BB9B;
}

@media only screen and (min-width:992px) {
    .borrowers-list-container {
        max-height: 500px;
        overflow-y: scroll;
    }

}

@media only screen and (max-width:600px) {
    #modal-profile {
        width: 75% !important;
        height: 50% !important;
        overflow: hidden;
    }

    .modal-fixed-footer .row .col {
        background-color: #F5F5FD;
    }
}


.borrower-det-modal {
    font-size: 12px;
    text-transform: uppercase;
    color: #323232;
}

.borrower-det-val {
    font-size: 22px;
    color: #323232;

}

.modal-fixed-footer .row .col {
    background-color: #F5F5FD;
    padding: 5px 0px;
}

.profile-label {
    font-size: 20px;
    color: #25BB9B;
}

.profile-value {
    font-size: 20px;
    color: #eaeaea;
}


#modal-lend {
    background-color: white;
    width: 35% !important;
    height: 100% !important;
    overflow: hidden;
}

@media only screen and (max-width:600px) {
    #modal-lend {
        background-color: white;
        width: 100% !important;
        height: 100% !important;
        /* overflow: hidden; */
    }
}

.lend-header {
    color: #25BB9B;
    font-size: 20px;
    font-weight: bold;
}

.loan-amount-remaining {
    color: #323232;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
}

.loan-amount-detail {
    color: #25BB9B;
    font-size: 14px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#lend-money:hover {
    color: #2E3E4F;
}

.agreement-text {
    /* font-weight: bold; */
    font-size: 14px;
}

.red-asterix {
    color: red;
}

/* Loan Application Tab */
#borrower-header-container {
    padding-top: 25px;
}

#borrower-header-container .headers span {
    font-size: 22px;
    color: #505056;
}

.application-report-header {
    background-color: #2C3E50;
    color: white;
}

.funding-table-container {
    max-height: 300px;
    overflow-y: scroll;
    background-color: white;
}

#loan-button {
    color: white;
    background-color: #2E3E4F;
    transition: all .2s ease-out;

}

#loan-button:hover {
    color: white;
    background-color: #25BB9B;
}

#loan-form-modal {
    background-color: white;
}

#delete-confirmation-modal {
    background-color: #2C3E50;
}

.delete-confirmation-modal-header span {
    color: #1CC7A4;
    font-size: 20px;
}

#delete-loan-button {
    color: white;
    background-color: #E50000;
}

.delete-accept-btn a {
    background-color: #1CC7A4;
    color: white;
    transition: all .2s ease-in;
}

.delete-accept-btn a:hover {
    background-color: white;
    color: #1CC7A4;
}

.delete-close-btn a {
    color: white;
    background-color: #E50000;
    transition: all .2s ease-in
}

.delete-close-btn a:hover {
    color: #E50000;
    background-color: white;
}

.delete-confirmation-message span {
    color: white;
    font-size: 18px;
}

.loan-modal-head {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    height: 50% !important;
    width: 70% !important;

}

.loan-modal-head-container {
    background-color: #2C3E50;
    padding: 10px 5px;

}

#loan-modal-content {
    padding: 0px;
    overflow: hidden;
}

.borrow-form-name {
    color: #1CC7A4;
    font-size: 22px;
}

#loan-form .row {
    padding: 0px 30px;
}

#wallet-header-container span {
    color: #505056;
    font-size: 22px;
    font-weight: 600;
}

#wallet-header-container {
    padding-top: 25px;
}

#account-balance-row {
    margin: 0 auto;
    margin-bottom: 20px;
    background: #4f78a4;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #4f78a4 0%, #70baba 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #4f78a4 0%, #70baba 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #4f78a4 0%, #70baba 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f78a4', endColorstr='#70baba', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

#acc-balance-header-container span {
    color: white;
    font-size: 20px;
    text-transform: uppercase
}

#acc-balance-header-container {
    padding: 10px;
}

#acc-balance-value-container span {
    color: white;
    font-size: 40px;
    letter-spacing: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

#wallet-deposit-btn {
    color: white;
    background-color: #2C3E50;
    transition: all .2s ease-in;
}

#wallet-deposit-btn:hover {
    color: #2C3E50;
    background-color: white;
    transform: scale(1.1, 1.1);

}

#wallet-withdraw-btn {
    color: white;
    background-color: #2C3E50;
    transition: all .2s ease-in;
}

#wallet-withdraw-btn:hover {
    color: #2C3E50;
    background-color: white;
    transform: scale(1.1, 1.1);
}

.transaction-history-header-container {
    font-size: 22px;
    color: #505056;
    margin-top: 40px;
    font-weight: 600;
}

.thistory-description-container {
    color: #505056;
    font-size: 18px;
    letter-spacing: 2px;
}

.transaction-table-container {
    max-height: 180px;
    overflow-y: scroll;
    
}

.transaction-table-container thead th {
    color: white;
}

.transaction-table-container thead {
    background-color: #2C3E50;
    border-top: 4px solid #1CC7A4;
}

.transaction-table-container tbody tr {
    color: #505056;
    background-color: white;
}

.transaction-table-container table {
    padding: 5px 10px;
}

#modal-deposit {
    background-color: white;
}
.deposit-header{
    color:#1CC7A4;
    font-size: 22px;
    font-weight: 600;
}
.modal-deposit-denomination{
    color: #323232;
    font-size: 20px;
    font-weight: 600;
}
.deposit-form-container{
    padding: 20px;
}
#withdraw-container{
    padding: 20px;
}   
.withdraw-modal-header{
    font-size: 22px;
    font-weight: 600;
    color: #1CC7A4;
}
.manage-settings-header{
    font-size: 22px;
    color: #505056;
    font-weight: 600;
}
.edit-settings-form{
    background-color: white;
    margin: 0 auto;
    padding: 10px 20px;
}
.edit-form-header{
    color: #505056;
    font-size: 22px;
    font-weight: 600;
}
.profile-text{
    color: #323232;
    font-size: 20px;
    font-weight: 500;
}
.save-user-settings-btn{
    color: white;
    background-color: #2C3E50;
    transition: all .2s ease-out;
}
.save-user-settings-btn:hover{
    color: white;
    background-color: #1CC7A4;
}
.field-labels{
    color: #323232;
    font-size: 18px;
}
.change-user-image-btn:hover{
    color: #2C3E50;
}
.field-values{
    color: #505056;
    font-size: 18px;
}
.user-profile-header{
    padding-top: 25px;
    color:#505056;
    font-size: 22px;

}
#profile-container{
    background-color: white;
    margin: 0 auto;
    padding: 0 10px;
}
#feedback-suggestions-header{
    padding-top: 25px;
    font-size: 22px;
    color: #505056;
    font-weight: 600;
}
#suggestion-courtesy{
    color: #323232;
    font-size: 18px;
    letter-spacing: 1px;
}
#report-header{
    color: #323232;
    font-size: 22px;
    padding-top: 20px;
}
#report-text{
    color: #505056;
    font-size: 18px;
    letter-spacing: 1px;
}
#report-btn{
    color: white;
    background-color: #2C3E50;
}
#report-btn:hover{
    color: #1CC7A4;
    transform: scale(1.1,1.1);
}
#modal-report{
    background-color: #2C3E50;
}
.report-modal-header{
    color: #1CC7A4;
    font-size: 22px;
}
#report-name-area{
    color: white;
}